.button{
    padding: 10px;
    border-radius: 5px;
    background-color: blueviolet;
    color: white;
    border: none;
    width: 60px;
    cursor: pointer;
    transition: .2s;
}
.button:hover{
    color: black;
}
.margin{
    margin-left: 10px;
}
@media (max-width: 1025px){
    h2{
        font-size: 30px;
    }
    .button{
        font-size: 23px;
        width: 100px;
    }
    mat-dialog-content{
        font-size: 23px;
    }
}

@media (max-width: 481px){
    h2{
        font-size: 25px;
    }
    .button{
        font-size: 16px;
        width: 80px;
    }
    mat-dialog-content{
        font-size: 16px;
    }
}