h1{
    background-color: blueviolet;
    text-align: center;
    padding: 20px;
    font-size: 26px;
}
@media (max-width:1025px){
    h1{
        font-size: 34px;
    }
}

@media (max-width:801px){
    h1{
        font-size: 30px;
    }
}
@media (max-width:481px){
    h1{
        font-size: 26px;
    }
}
