<h1 ngClass="budget">Budget: {{budget}}</h1>
<div class="container">
    <div ngClass="listIncome">
        <h1 ngClass="incomeH1">INCOME</h1>
        <ng-container *ngFor="let data of dataArray2; let i = index">
            <ng-container *ngIf="data.amount1 != undefined" class="containerList">
                <div *ngIf="data.amount1 > 0" ngClass="income">
                    <p *ngIf="data.description1 != undefined" ngClass="descriptionP">{{data?.description1}}</p>
                    <p *ngIf="data.amount1 != undefined"
                        [ngClass]="{'green': data.amount1 >= 0,'red': data.amount1 < 0, 'amountP': true}">
                        {{data?.amount1}}</p>
                    <button (click)="delete($event)" id={{i}} ngClass="deleteButton">Delete</button>
                    <button (click)="openDialog(i)" ngClass="deleteButton">Edit</button>
                </div>
            </ng-container>
        </ng-container>
    </div>
    <div ngClass="listAmount">
        <h1 ngClass="amountH1">EXPENSES</h1>
        <ng-container *ngFor="let data of dataArray2; let i = index">
            <ng-container *ngIf="data.amount1 != undefined" class="containerList">
                <div *ngIf="data.amount1 < 0" ngClass="expenses">
                    <p *ngIf="data.description1 != undefined" ngClass="descriptionP">{{data?.description1}}</p>
                    <p *ngIf="data.amount1 != undefined"
                        [ngClass]="{'green': data.amount1 >= 0,'red': data.amount1 < 0, 'amountP': true}">
                        {{data?.amount1}}</p>
                    <button (click)="delete($event)" id={{i}} ngClass="deleteButton">Delete</button>
                    <button (click)="openDialog(i)" ngClass="deleteButton">Edit</button>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>