.budget{
    background-color: #2b0969;
    text-align: center;
    font-size: 43px;
    color: #31d885;
    height: 200px;
    line-height: 125px;
}
.container{
    display: flex;
}
.listIncome{
    display: flex;
    width: 100%;
    margin: 20px auto;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-left: 300px;
}
.listExpenses{
    display: flex;
    width: 100%;
    margin: 20px auto;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-right: 300px;
}
p{
    display: inline-block;
    padding: 10px;
}
.amountP{
    font-size: 17px;
    border-radius: 5px;
}
.actionButton{
    text-align: center;
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: blueviolet;
    color: white;
    border: none;
    width: 80px;
    cursor: pointer;
    transition: .2s;
    font-size: 18px;
}
.green{
    background-color: #31d885;
}
.red{
    background-color: red;
}
.income{
    margin-top: 10px;
}
.expenses{
    margin-top: 10px;
}
.incomeH1{
    color: #31d885;
}
.expensesH1{
    color:red ;
}
@media (max-width: 1025px){
    .listIncome{
        margin-left: 10px;
    }
    .listExpenses{
        margin-right: 10px;
    }
    .incomeH1,.expensesH1{
        font-size: 2.5em;
    }
    .descriptionP{
        word-break: break-all;
        font-size: 24px;
    }
    .amountP{
        font-size: 24px;
        margin-bottom: 5px;
    }
    .actionButton{
        font-size: 24px;
        width: 100px;
    }
    .budget{
        font-size: 50px;
    }
}

@media (max-width: 481px){
    .listIncome{
        margin-left: 10px;
    }
    .listExpenses{
        margin-right: 10px;
    }
    .incomeH1,.expensesH1{
        font-size: 1.5em;
    }
    .descriptionP{
        word-break: break-all;
    }
    .deleteButton{
        margin-bottom: 5px;
    }
    .amountP{
        font-size: 17px;
        margin-bottom: 5px;
    }
    .budget{
        font-size: 43px;
    }
    .actionButton{
        font-size: 18px;
        width: 80px;
        margin-bottom: 5px;
    }
}

